<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="redbox_digital" sortOrder="999" translate="label">
			<label>Redbox Digital</label>
		</tab>
		<section id="customer_attribute" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Customer Attribute</label>
			<tab>redbox_digital</tab>
			<resource>Redbox_CustomerAttribute::config_redbox_customerattribute</resource>
			<group id="customer_attribute_validation" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Customer Attribute Validation</label>
				<field id="linkedin_profile_validation" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Is Linkedin Profile</label>
					<comment/>
					<source_model>Redbox\CustomerAttribute\Model\Config\Source\Options</source_model>
				</field>
			</group>
		</section>
	</system>
</config>
